{% set title = "Home" %}
{% set desc = "Bissada Game" %}
{% extends './views/layout/layout.njk' %}
{% block body %}
  <div class="row">
    <div class="col-xl-6">
      {% include './views/home/_demand.njk' %}
    </div>
    <div class="col-xl-6">
      {% include './views/home/_production.njk' %}
    </div>
    <div class="col-xl-6">
      {% include './views/home/_marketing.njk' %}
    </div>
    <div class="col-xl-6">
      {% include './views/home/_adminstration.njk' %}
    </div>
  </div>
{% endblock %}
