{% extends './views/layout.njk' %}
{% block title %}Home{% endblock %}
{% block desc %}Desc1{% endblock %}
{% block descFB %}Desc1{% endblock %}
{% block descTW %}Desc1{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-xl-6">
      {% include './views/home/_demand.njk' %}
    </div>
    <div class="col-xl-6">
      {% include './views/home/_production.njk' %}
    </div>
    <div class="col-xl-6">
      {% include './views/home/_marketing.njk' %}
    </div>
    <div class="col-xl-6">
      {% include './views/home/_adminstration.njk' %}
    </div>
  </div>
{% endblock %}
