/* autoprefixer grid: autoplace */
.grid {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 80px 1fr 1fr;
  grid-template-areas: "Header Header" "main side" "main side";
  @include media(max, 900) {
    grid-template-rows: 80px 80px 1fr;
    grid-template-areas: "Header Header" "side side" "main main";
  }
}
.Header {
  grid-area: Header;
}

.main {
  grid-area: main;
}

.side {
  grid-area: side;
}
