$side-nav-width: 20rem;
$side-nav-height: 10rem;
$page-wrapper-margin: 21rem;

.main-wrapper {
  width: 100%;
}

.side-nav {
  z-index: z(zNav);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: $side-nav-width;
  height: 100vh;
  @include color("text");
  @include box("text", $x: -3, $y: 0, $blur: 10);
}

.page-wrapper {
  margin-right: $page-wrapper-margin;
  min-height: 100vh;
}
@include media(max, 900) {
  .side-nav {
    @include box("text", $x: 0, $y: 3, $blur: 10, $op: 0.3);
    top: 0;
    flex-direction: row;
    width: 100vw;
    height: $side-nav-height;
  }
  .page-wrapper {
    margin-right: 0;
    margin-top: $side-nav-height;
  }
}
