/* navigation */
/* navigation */
// Both nav top + side
.nav {
  background: var(navTop);
  box-shadow: -3px 7px 5px var(txtInverse);
  // nav-top
  &-top {
    color: var(txtInverse);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;
    &__content {
      display: flex;
      align-items: center;
      a {
        display: block;
        img {
          height: 4rem;
          filter: invert(1);
          transition: all 0.3s ease-in-out;
          @include media(max, 900) {
            height: 3.5rem;
          }
        }
      }
      h1 {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        @include media(max, 900) {
          font-size: 2rem;
        }
      }
    }
  }
  // nav-side
  &-side {
    background: var(secondaryHoverInverse);
    color: var(txtInverse);
    display: flex;
    flex-direction: column;
    @include media(max, 900) {
      flex-direction: row;
    }
    &__content {
      &:not(:first-child) {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        p {
          cursor: pointer;
          position: relative;
          &:after {
            content: "\f64e";
            font-family: $FontA;
            position: absolute;
            right: -18px;
            top: -3px;
          }
        }
      }
      p {
        opacity: 0.8;
        font-weight: 800;
        margin: 0;
        color: var(radio);
      }
      &.one {
        text-align: center;
        .flipdown {
          font-size: 4.4rem;
          font-weight: 800;
        }
      }
      &.two {
      }
      &.three {
        display: flex;
        justify-content: space-between;
      }
    }
    .lower {
      h5 {
        text-align: center;
      }
    }
  }
}

/* navigation end-------------------------------------- */
