// Base
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

html {
  // overflow-y: overlay;
  text-rendering: optimizeLegibility;
  /* defines 1 rem = 62.5% of browser default rem which is 16px
  this leads to 1 rem = 62.5% of 16px = 10px to could make every font and size with rem and this is for easy responsive */
  font-size: 62.5%;

  //want: 1rem = 12px, 12/16px(base) = 75%
  //want: 1rem = 9px, 9/16px(base) = 56.25%
  //want: 1rem = 8px, 8/16px(base) = 50%
  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  transition: all 700ms $cubic;
  @include bg("primary");
}

::selection {
  @include color("text");
  @include bg("primary");
}

// ::placeholder,
// ::-webkit-input-placeholder,
// ::-moz-placeholder {
//   // color: #ddd;
//   color: red !important;
//   font-weight: 400;
// }

ul li {
  list-style: none !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;

  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// hide placeholder on focus
// input:focus {
//   &::-webkit-input-placeholder {
//     color: transparent;
//   }
//   &:focus:-moz-placeholder {
//     color: transparent;
//   }
//   &:focus::-moz-placeholder {
//     color: transparent;
//   }
// }
// reset bootstrap margin
label {
  margin-bottom: 0;
}

textarea {
  resize: none;
}

// Base end--------------------
