<section class="card marketing">
  <div class="card-header"><h3 class="">Marketing</h3></div>
  <div class="card-body">
    <h2>Selling price</h2>
    <h2>Promotion</h2>
    <h2>Promotion (% of sales)</h2>
    <h3>P.R</h3>
    <h2>Advertising</h2>
    <h2>Advertising (% of sales)</h2>
    <h3>CSR</h3>
    <h2>Accounts receivable (days)</h2>
  </div>
</section>
