<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">The Most Active Functions</h4>
          <div>
            <canvas id="chart1" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Employees Performance tracking</h4>
          <div>
            <canvas id="chart2" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pie Chart</h4>
          <div>
            <canvas id="chart3" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Number of Answered Questions by Date</h4>
          <div>
            <canvas id="chart4" height="100"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Assessment Performance tracking</h4>
          <div>
            <canvas id="chart5" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Radar Chart</h4>
          <div>
            <canvas id="chart6" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
</div>