<section class="questioncontrols ">
  <div class="questioncontrols__content  d-flex flex-wrap justify-content-between align-items-center">
    <div class="questioncontrols__content-add">
      <button class="choicesIncrease">
        <i class="fa fa-plus" title="Increase Choices"></i>
      </button>
      <span class="choicesNumber" title="Choices Number">
        <span>3</span>
      </span>
      <button class="choicesDecrease">
        <i class="fa fa-minus" title="Decrease Choices"></i>
      </button>
    </div>
    <div class="questioncontrols__content-level">
      <input type="radio" name="questionlevel" id="Easy" checked>
      <label for="Easy">Easy</label>
      <input type="radio" name="questionlevel" id="Intermediate">
      <label for="Intermediate">Intermediate</label>
      <input type="radio" name="questionlevel" id="Hard">
      <label for="Hard">Hard</label>
    </div>
    <div class="questioncontrols__content-dropup dropup">
      <select class="custom-select" id="inputGroupSelect">
        <option value="businessEthics" selected>Business Ethics</option>
        <option value="communicationSkills">Communication Skills</option>
        <option value="etc">Etc</option>
      </select>
    </div>
    <div class="questioncontrols__content-btn">
      <a href="./displaystart.html" target="_blank" class="btn btn-lg btn-info px-4 mr-3">Preview</a>
      <button class="btn btn-lg btn-success px-5">SAVE</button>
    </div>
  </div>
</section>
