@function z($key) {
  @if map-has-key($zMap, $key) {
    @return map-get($zMap, $key);
  }

  @warn "Unknown`#{$key}` in #{$zMap}.";
  @return null;
}
// ------------THE INDIVIDUAL MIXINS APPROACH SASS THEMEING-------------
// https://www.sitepoint.com/sass-theming-neverending-story/
@mixin themify(
  $property,
  $key,
  $themes: $themes,
  $x: 1,
  $y: 3,
  $blur: 5,
  $spred: 0,
  $op: 0.1
) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.theme-#{$theme},
    .theme-#{$theme} & {
      @if ($property == "box-shadow") {
        #{$property}: #{$x}px
          #{$y}px
          #{$blur}px
          #{$spred}px
          rgba(map-get($colors, $key), $op);
      }
      #{$property}: map-get($colors, $key);
    }
  }
}
// GET INDIVIDUAL COLOR FROM map
@function color($key) {
  @each $theme, $colors in $themes {
    @return map-get($colors, $key);
  }
}
@mixin color($arguments...) {
  @include themify("color", $arguments...);
}
@mixin bordercolor($arguments...) {
  @include themify("border-color", $arguments...);
}
@mixin bg($arguments...) {
  @include themify("background-color", $arguments...);
}
@mixin bgGred($arguments...) {
  @include themify("background", $arguments...);
}
@mixin box($arguments...) {
  @include themify("box-shadow", $arguments...);
}
@mixin fill($arguments...) {
  @include themify("fill", $arguments...);
}
// ------------------------------------------------------------
