// THE INDIVIDUAL MIXINS APPROACH--------------------------------
// https://www.sitepoint.com/sass-theming-neverending-story/
$themes: (
  "light": (
    "text": #333,
    "bg": linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%),
    "primary": #f8f8fa,
    "secondary": #fff,
    "secondaryHover": #e7e7e7,
    "radio": #764ba2
  ),
  "dark": (
    "text": #acacac,
    "bg": linear-gradient(to top, #101010 0%, #101010 100%),
    "primary": #101010,
    "secondary": #1b1b1b,
    "secondaryHover": #252525,
    "radio": #764ba2
  )
) !default;
@mixin themify(
  $property,
  $key,
  $themes: $themes,
  $x: 1,
  $y: 3,
  $blur: 5,
  $spred: 0
) {
  // Iterate over the themes
  @each $theme, $colors in $themes {
    // Create a selector (e.g. `.media.theme-unicorn, .theme-unicorn .media`)
    &.theme-#{$theme},
    .theme-#{$theme} & {
      @if ($property == "box-shadow") {
        #{$property}: #{$x}px
          #{$y}px
          #{$blur}px
          #{$spred}px
          rgba(map-get($colors, $key), 0.1);
      }
      #{$property}: map-get($colors, $key);
    }
  }
}
@mixin color($arguments...) {
  @include themify("color", $arguments...);
}
@mixin bordercolor($arguments...) {
  @include themify("border-color", $arguments...);
}
@mixin bg($arguments...) {
  @include themify("background-color", $arguments...);
}
@mixin bgGred($arguments...) {
  @include themify("background", $arguments...);
}
@mixin box($arguments...) {
  @include themify("box-shadow", $arguments...);
}
@mixin fill($arguments...) {
  @include themify("fill", $arguments...);
}
// THE BLOCK MIXIN APPROACH------------------------------------------------
// THE CLASS APPROACH------------------------------------------------
