// ----------------------------Zindex--------------------------------
$zMap: (
  zDropdown: 1300,
  zModal: 1200,
  zAlerts: 1150,
  zNav: 1100,
  zOverlay: 1099,
  zSearchQuestions: 1050,
  zControlQuestions: 1000
);
// -------------------------------------------------------------------
// THE INDIVIDUAL MIXINS APPROACH--------------------------------
// https://www.sitepoint.com/sass-theming-neverending-story/
$themes: (
  "light": (
    "bg": linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%),
    "radio": #764ba2,
    "text": #333,
    "textInverse": #dee2e6,
    "primary": #eef1f5,
    "secondary": #fff,
    "secondaryHover": #e7e7e7,
    "secondaryHoverInverse": #252525
  ),
  "dark": (
    "bg": linear-gradient(to top, #0e0e0e 0%, #101010 100%),
    "radio": #764ba2,
    "text": #acacac,
    "textInverse": #1b1b1b,
    "primary": #101010,
    "secondary": #1b1b1b,
    "secondaryHover": #252525,
    "secondaryHoverInverse": #e7e7e7
  )
) !default;
// ------------------------------------------------
