{% macro active(activePage = 'home') %}
  <header class="nav Header">
    <div class="container-fluid">
      <nav class="nav-top">
        <div class="nav-top__content">
          <a href="#">
            <img src="./img/logo.png" alt="logo" class="img-fluid"/>
          </a>
        </div>
        <div class="nav-top__content">
          <h1>TEAM b1 - Performa Period 1
          </h1>
        </div>
        <div class="nav-top__content">
          <a href="#">
            <h1>Hi, Joe
              <i class="fa fa-user pl-2"></i>
            </h1>

          </a>
        </div>
      </nav>
    </div>
  </header>
{% endmacro %}
