.alert {
  position: absolute;
  bottom: 2.4rem;
  right: 1.9rem;
  z-index: z(zAlerts);

  strong {
    padding-left: 2rem;
    position: relative;

    &::before {
      position: absolute;
      left: -5px;
    }
  }

  &-success {
    strong::before {
      content: "✔";
    }
  }

  &-danger {
    strong::before {
      content: "☢";
    }
  }

  &-warning {
    strong::before {
      content: "⚠";
    }
  }
}
