.home {
  .demand {
    animation: fadeIn 0.7s forwards;
  }

  .production {
    animation: fadeIn 0.7s forwards 0.5s;
  }

  .marketing {
    animation: fadeIn 0.7s forwards 0.7s;
  }

  .adminstration {
    animation: fadeIn 0.7s forwards 0.9s;
  }

  .card {
    opacity: 0;
    @include bg("secondary");
    @include color("text");
    border: none;
    border-radius: 0.75rem;
    margin: 8px 0;
    @include box("text");
    &-header {
      @include bg("radio");
      border-radius: 0.75rem 0.75rem 0 0;
      padding: 0;
      border-bottom: 0;
      h3 {
        @extend %headertxt;
        font-weight: 700;
        text-align: center;
        @include color("textInverse");
      }
    }
    &-body {
      h2 {
        @extend %headertxt;
        font-weight: 600;
        font-size: 2.8rem;
      }
      h3 {
        @extend %headertxt;
        font-weight: 300;
        font-size: 2.3rem;
      }
      h4 {
        @extend %headertxt;
        font-weight: 100;
        font-size: 2rem;
      }
    }
  }
}
