.dashboard {
  .cardQuestionNumber {
    @include bg("secondary");
    opacity: 0;
    animation: fadeIn 0.7s forwards;
  }

  .cardUserNumber {
    @include bg("secondary");
    opacity: 0;
    animation: fadeIn 0.7s forwards 0.5s;
  }

  .cardAssessNumber {
    @include bg("secondary");
    opacity: 0;
    animation: fadeIn 0.7s forwards 0.7s;
  }

  .cardGroupsNumber {
    @include bg("secondary");
    opacity: 0;
    animation: fadeIn 0.7s forwards 0.9s;
  }

  .card {
    @include color("text");
    border: none;
    border-radius: 0.75rem;
    margin: 8px 0;
    @include box("text");
    &-header {
      @include bg("radio");
      border-radius: 0.75rem 0.75rem 0 0;
      padding: 0;
      border-bottom: 0;
      h3 {
        font-weight: 700;
        text-align: center;
        @include color("textInverse");
      }
    }
    &-body {
      h2 {
        font-weight: 100;
        font-size: 2.8rem;
      }
    }
  }
}
