.dropdown {
  margin-bottom: 5px;

  &-menu {
    top: auto;
    z-index: z(zDropdown);
    background: var(txt);
    box-shadow: var(txtInverse);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  &-item {
    color: var(txtInverse);
    display: block;
    padding: 1rem 1.5rem;
    & > small {
      cursor: default;
      color: var(txtInverse);
      margin-right: 3rem;
      display: inline-block;
    }

    &:focus,
    &:active,
    &:hover {
      background: var(txt);
      color: var(txtInverse);
      text-decoration: none;
    }
  }
}

// ---------------------
li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: -17rem;
  left: 99%;
  & .dropdown-item {
    display: block;
    &:hover {
      background: var(secondaryHoverInverse);
    }
    img {
      margin-right: 6px;
    }
  }
}

// edit_survey add display logic end ------------
