.dropdown {
  margin-bottom: 5px;

  &-menu {
    top: auto;
    z-index: z(zDropdown);
    @include bg("text");
    @include box("textInverse");
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  &-item {
    @include color("textInverse");
    display: block;
    padding: 1rem 1.5rem;
    & > small {
      cursor: default;
      @include color("textInverse");
      margin-right: 3rem;
      display: inline-block;
    }

    &:focus,
    &:active,
    &:hover {
      @include bg("text");
      @include color("textInverse");
      text-decoration: none;
    }
  }
}

// ---------------------
li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: -17rem;
  left: 99%;
  & .dropdown-item {
    display: block;
    &:hover {
      @include bg("secondaryHoverInverse");
    }
    img {
      margin-right: 6px;
    }
  }
}

// edit_survey add display logic end ------------
