/* modal */

.modal {
  z-index: z(zModal);
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;

  &-dialog {
    transform: translateY(-12%) !important;
  }

  &-content {
    border: none;

    &.animateScale {
      animation: slideInDown 0.4s;
    }
  }

  &-footer {
    button {
      font-size: 1.6rem;
    }
  }

  .close {
    font-size: 1.9rem;
    background: rgba(10, 10, 10, 0.2);
    color: #fff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: block;
    line-height: 0.6rem;
    position: absolute;
    right: 16px;
    top: 17px;
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: rgba(10, 10, 10, 0.3);
    }
  }
}

/* modal end */
