// <input type="checkbox" id="toggle" class="switch"/>
// <label for="toggle" class="switch__lbl"></label>
$width: 4rem;
.switch {
  display: none !important;
  cursor: default;

  &:checked + .switch__lbl {
    @include bg("radio");

    &::after {
      transform: translateX($width/2);
    }
  }
  &__lbl {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: $width;
    height: $width / 2;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: $width;
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $width / 2;
      height: $width / 2;
      border-radius: $width / 2;
      background-color: white;
      transition: all 0.3s;
    }
  }
}
